.conteinerDog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;/*  el vw agarra el ancho completo de la pantalla */
    flex-wrap: wrap;
    flex-direction: row;

}

.background {
    background-color: black;
}


.refresh {
    width: 100px;
    height: 30px;
    color:black;
    background-color: rgba(124, 168, 235, 0.829);
   
}